/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/* Fonts */

@font-face {
  font-family: "Myriad Set Pro Bold";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Myriad Set Pro Semibold";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Myriad Set Pro Medium";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Myriad Set Pro Text";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Myriad Set Pro Thin";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Myriad Set Pro Ultralight";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}


/*               End of Setup             */

/*               Header                  */

header {
  background-color: #333333;
  padding: 5px 0;
}

header nav li {
  display: inline-block;
  width: 10%;
  text-align: center;
}

nav .container {
  max-width: 1300px;
  margin: 0 auto;
}

/*               Hero                */

#hero {
  margin: 20px 0;
  height: 600px;
  text-align: center;
  background-color: #FBFBFD;
}

/* Text */

#hero h1 {
  font: 3.5em "Myriad Set Pro Semibold";
  line-height: 2em;

}

#hero p {
  font: 1.65em "Myriad Set Pro Medium";
}

/* Image */

#hero-image {
  margin: -200px 0;
  height: 600px;
  background-image: url(images/hero_iphone_13pro.jpg);
  background-position: center;
}

/* Links */

#hero ul {
  display: inline-block;
  width: 15%;
  text-align: center;
  line-height: 5em;
}

#hero ul li {
  display: inline-block;
  width: 45%;
  text-align: center;
  font: 1.4em "Myriad Set Pro Thin"
}

/*               Sub Hero                 */

#sub-hero #sub-hero-grid {
  margin: 30px 0;
}

#sub-hero #sub-hero-grid .col {
  display: inline-block;
  width: 25%;
  padding: 0 3px;
}

#sub-hero #sub-hero-grid .col img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#sub-hero p {
  font: bold 1.25em "Myriad Set Pro Thin";
  text-align: center;
  margin: 0 0 30px 0;
}


/*             Footer             */

footer {
  background-color: #F2F2F2;
  padding: 30px 0;
}

footer #grid {
  margin: 0 auto;
  max-width: 1100px;
}

/*     Links     */

footer #grid a {
  color: #8D8E8D;
}

footer #grid .col {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

footer #grid .col ul {
  line-height: 1.75em;
  margin: 20px 0;
}

footer #grid .col ul li h1 {
  font: 1em "Myriad Set Pro Semibold";
}

footer #grid .col ul li a {
  font: 1em "Myriad Set Pro Text";
}

/*     More Ways to Shop    */

footer #grid p {
  font: 0.85em "Myriad Set Pro Text";
  color: #adadad;
}

/* Line */

hr {
  border: 1px solid #e3e3e3;
}

/*       Footer Information        */

footer #information-grid {
  margin: 0 auto;
  max-width: 1100px;
  font: 0.85em "Myriad Set Pro Text";
  color: #adadad;
}

footer #information-grid a {
  color: #8D8E8D;
}

footer #information-grid .col {
  display: inline-block;
  padding: 0 15px
}

footer #information-grid #legal-info {
  float: left;
  margin: 0 -18px;
}

footer #information-grid #legal-info .col {
  margin: 0 -12px;
}

footer #information-grid #legal-info .col p {
  margin: 0 30px 0 0;
}

footer #information-grid #country {
  float: right;
}

footer #information-grid #country .col {
  margin: 0 0 0 -20px;
}